<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JS #13-14 | GOIT FE#6</title>

	<link rel="stylesheet" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="js/template.js"></script>
	<script src="js/script.js"></script>
</head>
<body>

<div class="wrapper">
	

	<script type="text/template" id="tmpl">

		<h1>Тест по программированию</h1>
		<div class="test-note">
			Возможно, на какой-то вопрос есть несколько правильных ответов. Но на какой?..
		</div>
		<form action="" method="" class="test-form">
			<ol class="list">
				<% for (i = 0; i < data.length; i++) { %>
					<li>
						<%= data[i].title %>
						<ul class="child-list">
							<% for (var j = 0; j < data[i].answers.length; j++) { %>

								<li><label><input name="Question <%=i%>" type="checkbox" value="<%=j%>"><%= data[i].answers[j]%></label></li>

							<% } %>
						</ul>
					</li>
				<% } %>
			</ol>
			<button type="submit" class="submit-btn">
				Проверить результаты
			</button>
		</form>
	</script>
	
	
</div>
</body>
</html>